@import url('./abstracts/vars.css');
@import url('./base/base.css');
@import url('./base/typography.css');
@import url('./layout/footer.css');
@import url('./layout/forms.css');
@import url('layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');
@import url('./components/components.css');



/*landscape less than 768*/
@media (max-width: 767.98px){

    .subscribe-content{
        margin: 0 1rem 2rem;
        text-align: center;
        order: 2;
    }

    .subscribe-title{
        margin: auto;
    }

}

